.horizontal-scroll {
  position: relative;
  width: 100%;
  overflow: hidden;

  .wrapper {
    display: flex;
  }
  .content {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
  }

  @keyframes swipe {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(-100%);
    }
  }

  img {
    max-width: 25rem;
    padding: 0 1rem;
    object-fit: contain;
  }

  img:last-of-type {
    padding-left: 0;
  }
}
