@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Bebas+Neue&family=Black+Han+Sans&family=Hahmlet:wght@100..900&family=Oranienbaum&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: white;
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
main {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 5rem;
  overflow: hidden;
}


@font-face {
  font-weight: 400;
  font-family: "Gliker";
  src: url("/fonts/Gliker-Regular.ttf") format("truetype");
}
