.banner-container {
  width: 100%;
  height: 85vh;
  position: relative;
  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bera-lab-tester {
    display: block;
    position: absolute;
    height: 100vh;
    width: 25vw;
    object-fit: contain;
    object-position: right;
    right: 0;
    top: 20vh;
  }
}
