// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // home // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#home {
  @include parent;
  padding-inline: var(--margin-global);
  gap: 4em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: calc(50% - 50vw);
  justify-self: center;
  align-self: center;
  background-image: url(../../sources/images/lines.svg) !important;
  background-size: 100% 90%;
  background-position: center 5px;
  background-repeat: no-repeat; 
  padding-bottom: 100px;
  @include media(max, 960px){
    padding-bottom: 0px;
    background-image: none !important;
  }

  #left{
    position: absolute;
    z-index: 99;
    left: 0;
    @include media(max, 1420px){width: 50%;}
    @include media(max, 520px){margin-bottom: 170px!important;}
  }
  
  #right{
    position: absolute;
    z-index: 99;
    right: 0;
    @include media(max, 1420px){width: 50%;}
    @include media(max, 520px){margin-bottom: 170px!important;}

  }

  section{
    position: relative;
    z-index: 100;
    gap: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media(max, 620px){
      gap: 2em;
    }
  }

  .btn-berachain{
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255,255,255, 0.2);
    border-radius: 20px;
    width: 175px;
    min-height: 1px;
    height: 40px;
    --c: #fff!important;
    --fw: 400;
    font-family: var(--font1)!important;
    padding-inline: 15px!important;
    width: 200px;
    padding-block: 5px;
    box-shadow: inset 0 7px 10px -10px rgba(255,255,255, 1.0)!important;

    @include media(max, 1200px){
      --fs: 12px;
      width: 175px;
    }

    @include media(max, 620px){
      --fs: 10px;
      width: 150px;
      min-height: 30px!important;
    }
  }

  h2{
    font-family: var(--font1)!important;
    --c: #fff;
    text-align: center;
    --fs: max(20px, 4em);
    --fw: 500;
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    background-image: linear-gradient(to bottom, #FFFFFF 50%, transparent 100%);

    @include media(max, 1200px){
      --fs: max(20px, 3em);
    }

    @include media(max, 620px){
      --fs: max(20px, 2.5em);
    }

    @include media(max, 520px){
      --fs: max(20px, 1.8em);
    }
  }

  .btn-data{
    background-color: rgba(255,255,255, 0.1);
    border: 1px solid rgba(255,255,255, 0.2);
    min-height: 45px!important;
    border-radius: 20px;
    --c: #fff;
    --fw: 700;

    .btn-img-black{
      display: none;
    }

    &:hover {
      background-color: var(--secondary);
      --c: #000000;

      .btn-img-black{
        display: block;
      }

      .btn-img{
        display: none;
      }
    }

    @include media(max, 1200px){
      --fs: 12px;
    }

    @include media(max, 620px){
      --fs: 10px;
      max-width: max-content;
    }

    @include media(max, 520px){
      --fs: 10px;
      width: 200px;
      max-width: 200px;
    }
  }

  .mobile-div{

    @include media(max, 520px){
      display: flex;
      flex-direction: column;
    }
  }
}
