/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/page.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_main__akH3E {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 5rem;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/atoms/IntroCard/IntroCard.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.IntroCard_intro-card__j89K0 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3b2712;
  border-radius: 2rem;
  overflow: hidden;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}
.IntroCard_intro-card__j89K0 .IntroCard_image-container__ightS {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 1rem;
  padding: 1rem;
}
.IntroCard_intro-card__j89K0 .IntroCard_image-container__ightS.IntroCard_small__Y4vRA {
  width: 100px;
  height: 100px;
}
.IntroCard_intro-card__j89K0 .IntroCard_image-container__ightS .IntroCard_image__GMaC2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.IntroCard_intro-card__j89K0 .IntroCard_text-container__sRwlL {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  margin-bottom: 1rem;
}
.IntroCard_intro-card__j89K0 .IntroCard_text-container__sRwlL .IntroCard_title__VLqR4 {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.IntroCard_intro-card__j89K0 .IntroCard_text-container__sRwlL .IntroCard_description__p_0_m {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/atoms/Button/Button.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__fLh2C {
  background-color: #ffcd4d;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}
.Button_button__fLh2C:hover {
  background-color: #cb7a34;
}
.Button_button__fLh2C.Button_primary__QF4WC {
  background-color: #007bff;
  color: #fff;
}
.Button_button__fLh2C.Button_primary__QF4WC:hover {
  background-color: #0056b3;
}
.Button_button__fLh2C.Button_secondary__1rNVb {
  background-color: #6c757d;
  color: #fff;
}
.Button_button__fLh2C.Button_secondary__1rNVb:hover {
  background-color: #545b62;
}
.Button_button__fLh2C.Button_success__PKpP1 {
  background-color: #28a745;
  color: #fff;
}
.Button_button__fLh2C.Button_success__PKpP1:hover {
  background-color: #218838;
}
.Button_button__fLh2C.Button_danger__9DqvB {
  background-color: #dc3545;
  color: #fff;
}
.Button_button__fLh2C.Button_danger__9DqvB:hover {
  background-color: #c82333;
}
.Button_button__fLh2C.Button_warning__faby1 {
  background-color: #ffc107;
  color: #333;
}
.Button_button__fLh2C.Button_warning__faby1:hover {
  background-color: #e0a800;
}
.Button_button__fLh2C.Button_info__w9hwW {
  background-color: #17a2b8;
  color: #fff;
}
.Button_button__fLh2C.Button_info__w9hwW:hover {
  background-color: #138496;
}
.Button_button__fLh2C.Button_light__jYp7B {
  background-color: #f8f9fa;
  color: #333;
}
.Button_button__fLh2C.Button_light__jYp7B:hover {
  background-color: #e2e6ea;
}
.Button_button__fLh2C.Button_dark__jtLH7 {
  background-color: #343a40;
  color: #fff;
}
.Button_button__fLh2C.Button_dark__jtLH7:hover {
  background-color: #23272b;
}
.Button_button__fLh2C.Button_link__QcbVg {
  background-color: transparent;
  color: #007bff;
}
.Button_button__fLh2C.Button_link__QcbVg:hover {
  background-color: #e0e0e0;
}
.Button_button__fLh2C.Button_block__Tb22A {
  display: block;
  width: 100%;
}
.Button_button__fLh2C.Button_disabled__3jy84 {
  background-color: #f5f5f5;
  color: #333;
  cursor: not-allowed;
}
.Button_button__fLh2C.Button_disabled__3jy84:hover {
  background-color: #f5f5f5;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/atoms/PartnerScrollItem/PartnerScrollItem.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PartnerScrollItem_partner-scroll-item__Bz0Ba {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.PartnerScrollItem_partner-scroll-item__Bz0Ba:hover {
  transform: scale(1.1);
}
.PartnerScrollItem_partner-scroll-item__Bz0Ba img {
  max-height: 90%;
  object-fit: contain;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/atoms/SectionContainer/SectionContainer.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SectionContainer_section-container__YFenh {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #271a0c;
  border-radius: 2rem;
  overflow: hidden;
  margin: 2rem 0;
}
@media screen and (min-width: 768px) {
  .SectionContainer_section-container__YFenh {
    margin: 2rem 5rem;
  }
}
.SectionContainer_section-container__YFenh.SectionContainer_has-title__mGLml {
  padding-top: 0rem;
}
.SectionContainer_section-container__YFenh .SectionContainer_title__0jlO_ {
  text-align: center;
  width: 100%;
  background-color: #3b2712;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  margin-bottom: 2rem;
}
.SectionContainer_section-container__YFenh .SectionContainer_section-content__NlwZj {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/HomePage/FTOIntro/FTOIntro.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.FTOIntro_fto-intro__WRonW {
  width: 100%;
  display: flex;
}
.FTOIntro_fto-intro__WRonW .FTOIntro_image-container__pGy2D {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.FTOIntro_fto-intro__WRonW .FTOIntro_text-container__fhDFq {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/components/HomePage/HomePageQuestions/HomePageQuestions.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:export {
  primaryColor: #ffcd4d;
  secondaryColor: #cb7a34;
  backgroundColor: #271a0c;
  cardColor: #3b2712;
}

.chevron-down {
  margin-left: auto;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.szh-accordion {
  width: 100%;
  border-bottom: 1px solid #271a0c;
}
.szh-accordion__item {
  border-top: 1px solid #271a0c;
}
.szh-accordion__item-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  color: white;
  background-color: transparent;
  border: none;
}
.szh-accordion__item-btn:hover {
  background-color: #ffcd4d;
}
.szh-accordion__item-content {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}
.szh-accordion__item-panel {
  padding: 1rem;
}
.szh-accordion__item--expanded .szh-accordion__item-btn {
  background-color: #3b2712;
}
.szh-accordion__item--expanded .chevron-down {
  transform: rotate(180deg);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/layout/HomePageBanner/HomePageBanner.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.HomePageBanner_banner-container__sMzgd {
  width: 100%;
  height: 80vh;
  position: relative;
  background-color: #80bfe5;
}
.HomePageBanner_banner-container__sMzgd .HomePageBanner_banner-image__g8Y6x {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}
.HomePageBanner_banner-container__sMzgd .HomePageBanner_bera-lab-tester__v2mUQ {
  display: none;
  position: absolute;
  height: 100vh;
  object-fit: contain;
  object-position: right;
  right: 0;
  top: 20vh;
  width: 25vw;
}
@media screen and (min-width: 768px) {
  .HomePageBanner_banner-container__sMzgd .HomePageBanner_bera-lab-tester__v2mUQ {
    display: block;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/molecules/HorizontalScroll/HorizontalScroll.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.HorizontalScroll_horizontal-scroll__Smroj {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.HorizontalScroll_horizontal-scroll__Smroj .HorizontalScroll_wrapper__Vw_mx {
  display: flex;
}
.HorizontalScroll_horizontal-scroll__Smroj .HorizontalScroll_content__B_s7I {
  display: flex;
  animation: HorizontalScroll_swipe__zvB8T var(--speed) linear infinite backwards;
}
@keyframes HorizontalScroll_swipe__zvB8T {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
}
.HorizontalScroll_horizontal-scroll__Smroj img {
  max-width: 25rem;
  padding: 0 1rem;
  object-fit: contain;
}
.HorizontalScroll_horizontal-scroll__Smroj img:last-of-type {
  padding-left: 0;
}
